.modal{
    background-color: cornsilk;
    display: none;
    position: fixed;
    overflow-y: auto;
    max-height: 100vh;
    border: 1px solid #ddd;
    border-radius: 6px;
    top: 40px;
    bottom: 40px;
}

.heroImg{
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 100%;
  }
  .box{
      border: 5px solid black;
  }