body{
  background: url(./assets/bacground.jpg);
  padding: 25px;
  display: flex;
  flex-direction: row;
}

.card{
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 200px;
  height: 250px;
  text-align: center;
  background: cornsilk;
  padding: 5px;
  float: left;
  margin: 10px;
}

.heroImg{
  height: 100px;
  width: 100px;
  overflow: hidden;
  border-radius: 100%;
}

.maisInfo{
  border-radius: 20px;
  background:cadetblue;
}

.show{
  display: block !important;
}
